body {
  background-color: white;
}

img {
  width: 100%;
  height: auto;
}

header {
  position: sticky;
  top: 0;
  padding: 2rem 2rem;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.3);
  background-color: rgb(219, 219, 219);
}

header .logo img {
  width: 6rem;
}

header .logo {
  text-align: center;
  margin-bottom: 1rem;
}

header nav ul {
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
  gap: 80px;
  overflow-x: auto;
}

li {
  padding: 5px;
}

a {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: rgb(155, 155, 155);
}

/*Til header start*/
#first_section,
#om_mig,
#web_tema,
#ux_tema,
#animation_tema,
#indhold_tema {
  width: 100%;
  background-image: url(./billeder/headerbillede.webp);
  background-size: cover;
  background-position: 30% 40%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

#first_section h1,
#om_mig h1,
#web_tema h1,
#ux_tema h1,
#animation_tema h1,
#indhold_tema h1 {
  text-align: center;
  padding-top: 40px;
  font-size: 2rem;
  color: white;
}

#first_section p {
  text-align: center;
  padding-top: 0px;
  font-size: 1.5rem;
  color: white;
}
/*Til header slut*/

#second_section,
#third_section,
#fourth_section,
#fifth_section {
  border: 3px solid black;
  padding: 20px;
  margin-bottom: 10px;
}

#om,
#web,
#ux,
#animation,
#indhold {
  border: 3px solid black;
  padding: 20px;
  margin: 10px;
}

h1,
h2,
h3,
p {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1.5rem;
}

figcaption {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 10px;
  font-style: italic;
}

#om h2 {
  text-align: center;
}

#ux_tema h1 {
  padding-right: 10%;
  padding-left: 10%;
}

#hjem,
#om,
#web,
#ux,
#animation,
#indhold {
  padding: 30px;
}

/*Footer start*/
footer {
  text-align: center;
  padding: 25px;
  background-color: rgb(219, 219, 219);
  color: white;
}
/*Footer slut*/

/*Burgermenu start*/
.hidden {
  /*    display: none;*/
  /*    transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  font-size: xx-large;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }
}
/*Burgermenu slut*/

/*Media queries start*/

@media (min-width: 300px) {
  header {
    padding-bottom: 20px;
  }
}

@media (min-width: 600px) {
  header nav ul {
    display: flex;
    gap: 50px;
  }

  .galleri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .galleri img {
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1000px) {
  #hjem,
  #om,
  #web,
  #ux,
  #animation {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
  }

  #indhold {
    margin: 30px;
  }
  header nav ul {
    display: flex;
  }

  #second_section .section_wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #third_section .section_wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #fourth_section .section_wrapper4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #fifth_section .section_wrapper5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #second_section,
  #third_section,
  #fourth_section,
  #fifth_section {
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 10px;
  }

  #second_section,
  #third_section,
  #fourth_section,
  #fifth_section,
  .section_wrapper2,
  .section_wrapper3,
  .section_wrapper4,
  .section_wrapper5 {
    padding: 10px;
  }

  .section_wrapper2 div,
  .section_wrapper3 div,
  .section_wrapper4 div,
  .section_wrapper5 div {
    padding-right: 10px;
  }

  .galleri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .galleri img {
    height: 100%;
    object-fit: cover;
  }

  .emilie img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 500px;
    width: 500px;
  }

  #indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #indhold img {
    width: 100%;
    height: 400px;
    padding-left: 10px;
  }
}
